<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de Bord - RoomBooker</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/card.css}">
    <link rel="stylesheet" th:href="@{/css/pages/dashboard.css}">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<main>
    <header class="welcome-header">
        <h1 th:if="${user != null}" th:text="${'Bonjour, ' + user.firstname}">Bonjour, Utilisateur</h1>
        <p>Gérez vos réservations et découvrez nos espaces disponibles.</p>
    </header>

    <section class="reservation">
        <h2 class="section-title">Vos Réservations à Venir</h2>

        <div class="cards-grid">
            <th:block th:each="room : ${rooms}">
                <div th:replace="~{fragments/card :: card(${room.getName()}, ${room.getCapacity()}, ${room.getLocation()})}"></div>
            </th:block>
        </div>
    </section>
</main>

</body>
</html>