<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<div class="register">
    <form th:action="/register" th:method="post" th:object="${user}">
        <h1>Register</h1>
<!--        <span th:if="${#fields.hasErrors('*')}">-->
<!--            <span class="error" th:errors="*{*}">Error</span>-->
<!--        </span>-->
        <div class="firstname">
            <label for="firstname">Firstname</label>
            <input type="text" id="firstname" name="firstname" th:field="*{firstname}">
            <span th:if="${#fields.hasErrors('firstname')}">
                <span th:errors="*{firstname}">Erreur sur le champ firstname</span>
            </span>
        </div>

        <div class="lastname">
            <label for="lastname">Lastname</label>
            <input type="text" id="lastname" name="lastname" th:field="*{lastname}">
            <span th:if="${#fields.hasErrors('lastname')}">
                <span th:errors="*{lastname}">Erreur sur le champ lastname</span>
            </span>
        </div>

        <div class="username">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" th:field="*{username}">
            <span th:if="${#fields.hasErrors('username')}">
                <span th:errors="*{username}">Erreur sur le champ username</span>
            </span>
        </div>

        <div class="email">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" th:field="*{email}">
            <span th:if="${#fields.hasErrors('email')}">
                <span th:errors="*{email}">Erreur sur le champ email</span>
            </span>
        </div>

        <div class="password">
            <label for="password">Phone</label>
            <input type="tel" id="password" name="password" th:field="*{password}">
            <span th:if="${#fields.hasErrors('password')}">
                <span th:errors="*{password}">Erreur sur le champ password</span>
            </span>
        </div>

        <button type="submit">Register</button>
    </form>
</div>

</body>
</html>