<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<body>

<div class="container">
    <div class="card" th:fragment="card (title, capacity, location)">
        <div class="img">
            <img th:src="@{/images/img.png}" alt="Room image">
        </div>

        <div class="content">
            <h3 th:text="${title}">Titre par défaut</h3>
            <p>Capacité <span><th:block th:text="${capacity}"></th:block> pers.</span></p>
            <p>Localisation <span><th:block th:text="${location}"></th:block></span></p>
            
            <div class="action">
                <button class="btn-detail">Voir détails</button>
                <button class="btn-cancel">Annuler</button>
            </div>
        </div>
    </div>
</div>

</body>
