<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="navbar">
    <nav>
        <a th:href="@{/}" class="logo">RoomBooker</a>
        <div class="menu">
            <ul>
                <li><a th:href="@{/dashboard}">Tableau de Bord</a></li>
                <li><a th:href="@{/booking}">Réserver une Salle</a></li>
            </ul>
        </div>

        <div class="profile" th:if="${user != null}">
            <span th:text="${'Hello, ' + user.firstname}">Hello, User</span>
            <form th:action="@{/logout}" method="post" style="display: inline;">
                <button type="submit" class="btn-logout">Déconnexion</button>
            </form>
        </div>
        <div class="profile" th:if="${user == null}">
            <a th:href="@{/login}" class="btn-login">Connexion</a>
        </div>
    </nav>
</div>

</body>