@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --primary-color:#2C3E50;
    --secondary-color:#27AE60;
    --accent-color:#E67E22;
    --background-color:#ECF0F1;
    --card-color:#FFFFFF;
    --primary-text-color:#2C3E50;
    --secondary-text-color:#7F8C8D;


    --primary-font-family:'Roboto',sans-serif;
    --secondary-font-family:'Lato',sans-serif;
}


*,::before,::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

li{
    list-style:none;
}

a{
    text-decoration:none;
    color:var(--primary-text-color);
}


body{
    background-color:var(--background-color);
    color:var(--primary-text-color);
    font-family:var(--secondary-font-family);
}

h1{
    font-family:var(--primary-font-family);
}

.principal{
    color:var(--primary-color);
    font-family:var(--secondary-font-family);
}

input{
    padding:.5rem;
    border:none;
    border-radius:5px;
    outline:none;
    font-size:1rem;
    width:100%;
    max-width:20rem;
    background-color:var(--card-color);
    box-shadow:0 0 10px rgba(0,0,0,.1);
}




nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:1.5rem;
    background-color:var(--card-color);
    box-shadow:0 0 10px rgba(0,0,0,.1);
    padding: 1rem;
}

.menu> ul{
    display:flex;
    gap:1rem;
}

.profile{
    display:flex;
    gap:.5rem;
}




/* Dashboard  section reservation */

main{
    margin-top: 3rem;
    padding: 0 1rem;
}


.reservation{
    margin-top:2.5rem;
    display:flex;
    flex-direction:column;
    gap:1rem;
    justify-self: center;
}

.center{
    text-align:center;
    align-self: center;
    align-items: center;
}


/*.container{*/
/*  background-color:var(--card-color);*/
/*    box-shadow:0 0 10px rgba(0,0,0,.1);*/
/*    padding: 1rem;*/
/*    border-radius:10px;*/
/*    margin-top: 1rem;*/
/*}*/

.img{
    width:100%;
    height:15rem;
    object-fit:cover;
}

.img img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:10px;
}

.card{
    display:flex;
    flex-direction:column;
    gap:1rem;
    padding:0.5rem;
    background-color:var(--card-color);
    box-shadow:0 0 10px rgba(0,0,0,.1);
    border-radius:10px;
}

.content{
    display:flex;
    flex-direction:column;
    gap:0.5rem;
}

button{
    padding:.5rem 1rem;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button > a {
    color:var(--card-color);
}

.detail{
    background-color:var(--secondary-color);
}

.anuler{
    background-color:var(--accent-color);
}

.search{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1rem;
}

.search form{
    font-size: 1rem;
}
